.payment {
  background-color: white;
}

.payment__container > h1 {
  text-align: center;
  padding: 1rem;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 2rem;
  margin: 0 2rem;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  /* title should take 20% */
  flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
  /* address should take 80% - can also work with flex base */
  flex: 0.8;
}

.payment__details > form {
  max-width: 40rem;
}

.payment__details h3 {
  padding-bottom: 2rem;
}

.payment__details > form > div > button {
  background-color: rgb(255, 216, 20);
  border: 1px solid;
  margin-top: 1rem;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 100%;
  height: 3rem;
  font-weight: bolder;
}
