.checkoutProduct {
  display: flex;
  margin: 2rem 0;
}

.checkoutProduct__info {
  padding-left: 2rem;
}

.checkoutProduct__info > button {
  background-color: rgb(255, 216, 20);
  border: 1px solid;
  margin-top: 1rem;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.checkoutProduct__image {
  width: 18rem;
  height: 18rem;
  object-fit: contain;
  margin-bottom: 1.5rem;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 1.7rem;
  font-weight: 800;
}
